section.slide#controlContainer
	div
		h2 Controlling containers
		p You can stop, start and restart containers
		p
			strong Removing containers will also remove containers data!
		blockquote.next
			h2 But, how I can persist data?!