section.slide#ship
	div
		h2 Ship
		p Docker lets you design the entire cycle of application development, testing and distribution, and manage it with a consistent user interface
		.split
			.left
				img(src='slides/ship/truck.png')
			.right
				p Allows you to dynamically change your application like never before from adding new capabilities, scaling out services to quickly changing problem areas