section.slide#vmDifference2
	div
		p
			strong Virtual Machines&nbsp;
			| - each virtual machine includes the application, the necessary binaries and libraries and an entire guest operating system - all of which may be tens of GBs in size
		p
			strong Containers&nbsp;
			| - Containers include the application and all of its dependencies, but share the kernel with other containers. They run as an isolated process in userspace on the host operating system. They’re also not tied to any specific infrastructure – Docker containers run on any computer, on any infrastructure and in any cloud