doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=680, user-scalable=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		title Docker контейнеризация
		link(rel='stylesheet', href='bower_components/shower-bright/styles/screen.css')
		link(rel='stylesheet', href='main.css')
	body.list

		include slides/cover/cover
		include slides/what-is-docker/what-is-docker
		include slides/build/build
		include slides/containers-advantages/containers-advantages
		include slides/vm-difference/vm-difference
		include slides/vm-difference-2/vm-difference-2
		include slides/how-to-build/how-to-build
		include slides/ship/ship
		include slides/ship-services/ship-services
		include slides/share-collaborate/share-collaborate
		include slides/run/run
		include slides/how-to-run/how-to-run
		include slides/link-containers/link-containers
		include slides/compose/compose
		include slides/compose-even-more/compose-even-more
		include slides/load-balance/load-balance
		include slides/load-balance-2/load-balance-2
		include slides/control-container/control-container
		include slides/volumes/volumes
		include slides/use-case/use-case
		include slides/questions/questions

		.progress
			div

		script(src='bower_components/shower-core/shower.min.js')