section.slide#loadBalance
	div
		h2 Load balance with HAProxy
		p
			strong HAProxy&nbsp;
			| - is free, open source software that provides a high availability load balancer and proxy server for TCP and HTTP-based applications
		ul
			li Load balancing between services
			li You can re-deploy your services with zero downtime!