section.slide#volumes
	div
		h2 Data volumes
		p A data volume is a specially-designated directory within one or more containers
		p Data volumes are designed to persist data, independent of the container’s life cycle. Docker therefore never automatically delete volumes when you remove a container