section.slide#vmDifference
	div
		h2 Difference from virtual machines?
		.diagrams
			.left
				img(src='slides/vm-difference/what-is-vm-diagram.png')
			.right
				img(src='slides/vm-difference/what-is-docker-diagram.png')