#vmDifference
	.diagrams
		display flex
		flex-direction row
		justify-content space-between
		& > div
			width 320px
			flex-direction row
			display flex
			align-items flex-end
			img
				width 100%