section.slide#useCase
	div
		h2 Use case
		ol
			li.next Develop push code
			li.next Gitlab trigger commit webhook
			li.next CI Server trigger test
			li.next Test pass, then build docker image and push image
			li.next Deploy Server trigger redeploy
			li.next Redeploy services
