section.slide#cover
	div
		header
			a.logo(href='https://www.docker.com/', target='_blank')
				img(src='slides/cover/docker.png')
		h1 Docker containerization
		p
			| Sergey Tkalych,&nbsp;
			a(href='https://qapint.com', target='_blank') QAP Int