section.slide#linkContainers
	div
		blockquote
			h2 If I want to have two containers. Can they communicate with each other?
		blockquote.next
			h2 Yes, they can
		p.next
			| Use docker&nbsp;
			code link
			| &nbsp; option when create container. You can link hundreds or even thousands of containers
