section.slide#containersAdvantages
	div
		h2	Containers advantages
		ul
			li.next
				| Lightweight
				p.description Constructed from layered filesystems so they can share common files, making disk usage much more efficient
			li.next Open
				p.description Based on open standards allowing containers to run on all major Linux distributions and Microsoft operating systems with support for every infrastructure
			li.next Secure
				p.description Isolated from each other and the underlying infrastructure