section.slide#shareCollaborate
	div
		h2 Easily Share, Collaborate on Apps
		.split
			.left
				ul
					li Store, distribute and manage your Docker images in your Docker Hub
					li Use private repositories to store and share your images
			.right
				img(src='slides/share-collaborate/collabe.png')