#shipServices
	div
		padding 0
		width 150px
		height 150px
	.docker
		top: 205px
		left: 390px
		border-radius 50%;
		border 3px solid #22b8eb
		width 250px
		height 250px
		background url(slides/ship-services/docker.jpg) 50% 50% no-repeat
		background-size 200px 200px
	.tutum
		top: 60px
		left: 100px
		background url(slides/ship-services/tutum.png) 50% 50% no-repeat
		background-size 150px 150px
	.saltstack
		top: 100px
		left: 700px
		height 94px
		background url(slides/ship-services/saltstask.png) 50% 50% no-repeat
		background-size 150px 94px
	.ansible
		top: 400px
		left: 140px
		background url(slides/ship-services/ansible.png) 50% 50% no-repeat
		background-size 150px 150px
	.chef
		top: 400px
		left: 650px
		background url(slides/ship-services/chef.png) 50% 50% no-repeat
		background-size 150px 150px