section.slide#run
	div
		h2 Run
		p Docker offers you the ability to deploy scalable services, securely and reliably, on a wide variety of platforms
		p Support Linux, Mac OS X* and Windows*
		p.description * Docker daemon uses Linux-specific kernel features, you can’t run Docker natively. Use docker-machine to create and attach to a Docker VM on your machine